html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-weight: 400;
}

p {
  font-weight: 300;
  line-height: 1.25;
}


/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 30;
  width: 100%;
}

#logo {
  display: flex;
  align-items: center;
  font-family: "raleway", sans-serif;
  font-weight: 500;
}

#logo span {
  font-weight: 800;
}

#logo img {
  margin-left: 1.5rem;
}


/*Navigation*/

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-content: center;
}

nav li {
  margin-right: 1rem;
}

a {
  color: rgb(74, 74, 74);
  text-decoration: none;
}


/*BREAK-POINTS Navigation*/

@media only screen and (max-width:770px) {
  nav h5 {
    display: none;
  }
  nav li:nth-child(3n) {
    display: none;
  }
}

@media only screen and (min-width: 770px) {
  nav img {
    display: none;
  }
}


/*MAIN Section*/

main {
  position: relative;
  top: 64px;
}


/*PROMOTION Section*/

.jumbotron {
  padding: 2rem 1.5rem;
  background-color: rgb(216, 216, 216);
  width: 100%;
  display: flex;
  align-items: center;
}

.jumbotron img {
  width: 60%;
  height: 100%;
}

.jumbotron {
  font-size: 1.75rem;
}

hgroup {
  margin: 0 40px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.button {
  width: 75%;
  border-radius: 3px;
  background-color: rgb(100, 100, 100);
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.button:hover {
  background-color: rgb(240, 160, 50);
}

.button:active {
  background-color: rgb(160, 240, 50);
}


/*BREAK-POINTS Promotion*/


/*Information Highlights*/

#highlights {
  display: flex;
  flex-flow: row;
  padding: 2rem 0;
}

.focus {
  max-width: 60%;
  display: flex;
  flex-flow: column wrap;
  padding: 0 1.5rem;
}

.focus img {
  width: 100%;
}

aside {
  min-width: 423px;
  max-width: 40%;
}

aside img {
  width: 35%;
  padding: 1rem;
}

.story {
  display: flex;
  align-items: center;
}

aside .story:hover {
  background-color: rgb(216, 216, 216);
}

.info a {
  color: rgb(143, 185, 233)
}

.reference {
  font-size: 0.75rem;
}


/*PROGRAMS Container Styling*/

#courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  background-color: rgb(216, 216, 216);
}

#courses h2, #thesis h2 {
  margin: 2rem auto;
  width: 100%;
  text-align: center;
}

.program {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 2rem;
  background-color: rgb(250, 250, 250);
}

.program:hover {
  background-color: rgb(50, 250, 125);
  color: rgb(175, 185, 250)
}

.program img {
  width: 100%;
}

#courses h3 {
  margin: 1rem 0;
}

.details {
  padding: 1rem;
  flex: 1 1;
}

.details h4 {
  margin: 0.5rem 0;
}

.details p {
  font-weight: 300;
}


/*THESIS Container*/

#thesis {
  padding: 2rem 0;
}

#thesis div {
  display: flex;
}

.story div {
  display: flex;
  flex-direction: column;
}

.focus video {
  width: 100%;
}


/*FOOTER Styling*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid rgb(25, 25, 25)
}
